/* Fontes personalizadas */
@font-face {
    font-family: 'Magic Retro';
    src: url('/fonts/magic/Magic_Retro.ttf') format('truetype');
}

@font-face {
    font-family: 'Stora';
    src: url('/fonts/stora/Stora.ttf') format('truetype');
}

@font-face {
    font-family: 'rolner';
    src: url('/fonts/rolner/ROLNER.otf') format('opentype');
}

/* Estilo para os cards */
.avaliacao-card {
    width: 250px;
    height: 100px;
    margin-top: 20px;
    margin-left: 50px;
    border: 3px solid #EE5E5B;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'rolner';
    font-size: 8px; /* Ajuste o tamanho conforme necessário */
    color: black;
    background-color: white;
    transition: background 0.3s, color 0.3s;
    position: relative;
}

.avaliacao-card .card-body {
    font-size: 8px; /* Ajuste o tamanho conforme necessário */
    padding: 10px;
}

/* Efeito hover - Fica vermelho e muda o texto
.avaliacao-card:hover {
    background-color: #C82333;
    color: white;
}

/* Muda o texto para "DELETA" no hover
.avaliacao-card h3 {
    transition: opacity 0.3s;
}

.avaliacao-card:hover h3 {
    opacity: 0;
}

.avaliacao-card:hover::after {
    content: "DELETAR";
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}*/



/* Ícone de edição */
.edit-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: opacity 0.3s;
}

/* Some com o ícone no hover */
.avaliacao-card:hover .edit-icon {
    opacity: 0;
}

/* Título do header */
.header-title {
    font-family: 'rolner', sans-serif;
    font-size: 10px;
    color: #3D5C30;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    display: block;
}

/* Estilo do contêiner dos cards */
.container {
    padding-top: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border: 3px solid #EE5E5B;
    display: flex;
    flex-wrap: wrap;
    font-size: 8px; /* Corrigido com o ponto e vírgula */
    justify-content: center;
    gap: 10px;
}


.btn-right {
     float: right; /* Alinha o botão à direita */
     padding:10px;
      }