<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atualizar Livro</title>

    <link rel="stylesheet" href="/consultalivro.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F9E1DD;">
    <a class="navbar-brand navbar-brand-custom" href="/api/home" style="font-family: 'Stora'; color: white;  letter-spacing: 3px;  text-shadow: -1px -1px 0 #ee5e5b,
        2px -2px 0 #ee5e5b,
        -2px 2px 0 #ee5e5b,
        2px 2px 0 #ee5e5b;">BookCASE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/api/avaliacao" style="font-family: 'rolner'; color: #3D5C30">Avaliações</a>
            <a class="nav-item nav-link" href="/api/consultar" style="font-family: 'rolner'; color: #3D5C30">Livros</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'rolner'; color: #3D5C30">
                    Cadastrar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-family: 'rolner'; color: #3D5C30">
                    <a class="dropdown-item" href="/api/livros/cadastrar" style="font-family: 'rolner'; color: #3D5C30">Livro</a>
                    <a class="dropdown-item" href="/api/cadastrar" style="font-family: 'rolner'; color: #3D5C30">Avaliação</a>
                    <a class="dropdown-item" href="/api/avaliacao" style="font-family: 'rolner'; color: #3D5C30">Autores</a>
                </div>
            </li>
        </div>
    </div>
    <form class="form-inline my-2 my-lg-0" action="/api/buscarPorNome" method="get">
        <input class="form-control mr-sm-2" type="search" name="nome" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" style="background-color: #3D5C30; color: white" type="submit">Search</button>
    </form>
</nav>

<h1>Atualizar Livro</h1>


<!-- A URL de ação agora utiliza a sintaxe do Thymeleaf -->
<form th:action="@{/api/livro/atualizar/{id}(id=${livro.id})}" method="post">
    <input type="hidden" name="id" th:value="${livro.id}" /> <!-- ID do livro -->

    <label>Nome:</label>
    <input type="text" name="nome" th:value="${livro.nome}" required />

    <label>Data de Publicação:</label>
    <input type="date" name="data_publicacao" th:value="${livro.data_publicacao}" required />

    <label>Descrição:</label>
    <textarea name="descricao" required th:text="${livro.descricao}"></textarea>

    <label>Número de Páginas:</label>
    <input type="number" name="numero_paginas" th:value="${livro.numero_paginas}" required />

    <label>URL da Foto:</label>
    <input type="text" name="urlFoto" th:value="${livro.url_foto}" />

    <label>Autor:</label>
    <select name="idAutor" required>
        <option value="" disabled>Selecione o autor</option>
        <th:block th:each="autor : ${autores}">
            <option th:value="${autor.id}"
                    th:text="${autor.nome}"
                    th:selected="${livro.autor.id == autor.id}"></option>
        </th:block>
    </select>

    <label>Editora:</label>
    <select name="idEditora" required>
        <option value="" disabled>Selecione a editora</option>
        <th:block th:each="editora : ${editoras}">
            <option th:value="${editora.id}"
                    th:text="${editora.nome}"
                    th:selected="${livro.editora.id == editora.id}"></option>
        </th:block>
    </select>

    <button type="submit">Atualizar Livro</button>
</form>

<a href="/api/consultar">Voltar</a>

</body>
</html>
