<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F9E1DD;">
    <a class="navbar-brand navbar-brand-custom" href="/api/home" style="font-family: 'Stora'; color: white;  letter-spacing: 3px;  text-shadow: -1px -1px 0 #ee5e5b,
        2px -2px 0 #ee5e5b,
        -2px 2px 0 #ee5e5b,
        2px 2px 0 #ee5e5b;">BookCASE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/api/avaliacao" style="font-family: 'rolner'; color: #3D5C30">Avaliações</a>
            <a class="nav-item nav-link" href="/api/consultar" style="font-family: 'rolner'; color: #3D5C30">Livros</a>
            <a class="nav-item nav-link" href="/api/consultar/autor" style="font-family: 'rolner'; color: #3D5C30">Autores</a>
            <a class="nav-item nav-link" href="/api/consultar/editora" style="font-family: 'rolner'; color: #3D5C30">Editoras</a>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'rolner'; color: #3D5C30">
                    Cadastrar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-family: 'rolner'; color: #3D5C30">
                    <a class="dropdown-item" href="/api/livros/cadastrar" style="font-family: 'rolner'; color: #3D5C30">Livro</a>
                    <a class="dropdown-item" href="/api/cadastrar" style="font-family: 'rolner'; color: #3D5C30">Avaliação</a>
                    <a class="dropdown-item" href="/api/autor/cadastrar" style="font-family: 'rolner'; color: #3D5C30">Autores</a>
                    <a class="dropdown-item" href="/api/editora/cadastrar" style="font-family: 'rolner'; color: #3D5C30">Editora</a>

                </div>
            </li>
        </div>
    </div>
    <a href="/api/conta_user">
        <img src="/image/people.png" alt="Login Icon" width="40" height="40" class="mb-3">
    </a>
</nav>
</body>
<div class="container" style="font-family: 'rolner'; text-align: justify">
    <!-- Div à esquerda com texto -->
    <div class="content-left" style="width: 400px; height: 200px">
        <p style="font-family: 'Stora'; color: #EE5E5B;">BookCASE<p>Seja bem-vindo à Bookcase, sua biblioteca virtual!<br><br>

        Aqui, você terá a oportunidade de explorar o mundo literário como nunca antes. Cadastre seus livros favoritos, tanto os que você já leu quanto aqueles que ainda estão na sua lista de desejos. Avalie e compartilhe suas impressões sobre as obras que marcaram sua trajetória de leitura. Nossa plataforma permite que você organize sua biblioteca pessoal, descubra novas leituras e compartilhe suas avaliações com outros amantes da leitura. A Bookcase está aqui para tornar sua experiência de leitura ainda mais enriquecedora.

        Explore, avalie e compartilhe suas leituras!

        <br>E lembre-se, nunca julgue um livro pela capa</div>

    <!-- Div à direita com a imagem -->
    <div class="content-right">
        <img src="/image/book2.png" alt="Descrição da imagem" style="width: 500px; height: 500px">
    </div>
</div>


</html>