<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/user.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #f3fcee">

<div class="container mt-4">
    <h1 class="mb-4">Login</h1>

    <!-- Mensagem de erro -->
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        Erro ao fazer login. Por favor, tente novamente.
    </div>

    <!-- Formulário de Login -->
    <div class="card">
        <div class="card-body">
            <form action="/login" method="post">
                <label for="username">Usuário</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
